.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.employee{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    margin-right: -100px;
    margin-top: 50px;
}

.add{
    margin-top: 30px;
    margin-right: -180px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  
}

.form{
  align-items: left;
  justify-content: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form{
    margin-top: 200px;
    margin-bottom: 230px;
    margin-left: 10px;
    background-color:white;
    box-shadow: 02px 2px 10px rgb(102, 102, 102);
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 78px;
    transform: scale(2);
  }
  
  #eid{
    margin-top:10px;
    margin-bottom:25px;
    margin-left:44px;
    padding-bottom: 3px;
    padding-left:10px;
    border: none;
    border-radius: 7px;
    box-shadow: 01px 0.5px 02px rgb(102, 102, 102);
  }

  #name{
    margin-top:10px;
    margin-bottom:25px;
    margin-left:20px;
    padding-bottom: 3px;
    padding-left:10px;
    border: none;
    border-radius: 7px;
    box-shadow: 01px 0.5px 02px rgb(102, 102, 102);
  }

  #gender{
    margin-top:10px;
    margin-bottom:25px;
    margin-left:80px;
    padding-bottom: 3px;
    padding-left:10px;
    border: none;
    border-radius: 7px;
    box-shadow: 01px 0.5px 02px rgb(102, 102, 102);
    margin-right: 30px;
  }

  #jobtitle{
    margin-top:10px;
    margin-bottom:25px;
    margin-left:72px;
    padding-bottom: 3px;
    padding-left:10px;
    border: none;
    border-radius: 7px;
    box-shadow: 01px 0.5px 02px rgb(102, 102, 102);
    margin-right: 30px;
  }

  #datejoined{
    margin-top:10px;
    margin-bottom:25px;
    margin-left:33px;
    padding-bottom: 3px;
    padding-left:10px;
    border-radius: 7px;
    border: none;
    box-shadow: 01px 0.5px 02px rgb(102, 102, 102);
  }

  #dob{
    margin-top:10px;
    border-radius: 7px;
    margin-bottom:25px;
    padding-left:10px;
    margin-left:23px;
    padding-bottom: 3px;
    border: none;
    box-shadow: 01px 0.5px 02px rgb(102, 102, 102);
  }

  #contact{
    margin-top:10px;
    border-radius: 7px;
    margin-bottom:25px;
    padding-left:10px;
    margin-left:60px;
    padding-bottom: 3px;
    border: none;
    box-shadow: 01px 0.5px 02px rgb(102, 102, 102);
    margin-right: 30px;
  }

  #address{
    margin-top:10px;
    border-radius: 7px;
    margin-left:60px;
    padding-bottom: 3px;
    padding-left:10px;
    border: none;
    box-shadow: 01px 0.5px 02px rgb(102, 102, 102);
    margin-right: 30px;
  }

  button{
      margin-top: 35px;
      margin-left: 135px;
      background-color: #75c500;
      border-color: #333333;
      border-style: solid;
      padding-left:12px;
      padding-right: 14px;
      padding-top: 5px;
      padding-bottom: 5px;
      color: white;
  }

  ::placeholder {
    color: #75c500;
    padding-left: 10px;
    font-size: 10px;
  }
