.pcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.product{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-right: 5%;
    
    
}

.pform{
    align-items: left;
    justify-content: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.padd{
    padding-top:10px;
    padding-right: 4.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}



.pform{
    margin-top: 150px;
    margin-left: -50px;
    background-color:white;
    box-shadow: 02px 2px 10px rgb(102, 102, 102);
    border-radius: 25px;
    padding :20px;
    transform: scale(2);
    
  }
  #weight{
    margin-bottom:15px;
    border-radius: 7px;
      border: none;
      box-shadow: 01px 0.5px 02px rgb(102, 102, 102);
      margin-left: 74px;
     
  }

  #pid{
    margin-bottom:5px;
    border: none;
    border-radius: 7px;
    box-shadow: 01px 0.5px 02px rgb(102, 102, 102);
    margin-left: 50px;
    
  }
  #pname{
    border-radius: 7px;
    margin-bottom:5px;
    border: none;
    box-shadow: 01px 0.5px 02px rgb(102, 102, 102);
    margin-left: 24px;
  }

  #date{
    border-radius: 7px;
    margin-bottom:5px;
    border: none;
    box-shadow: 01px 0.5px 02px rgb(102, 102, 102);
    margin-left: 100px;
  }
  #nop{
    border-radius: 7px;
    margin-bottom:10px;
    border: none;
    box-shadow: 01px 0.5px 02px rgb(102, 102, 102);
    margin-left: 28px;
  }

  psubmitbutton{
    margin-top: 10px;
    margin-left: 200px;
    background-color: #75c500;
    border:none;
    border-color: #333333;
    border-style: solid;
      border-radius: 25px;
      padding-left:10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      color: white;
  }

  ::pplaceholder {
    color: #75c500;
    padding-left: 10px;
    font-size: 10px;
  }

  .pimag{
    padding-top:50px;
    padding-right: 70px;
  }