.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eimage{
    margin-top: 50px;
    margin-left: 25px;
}

.attendance{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    margin-right: -50px;
    margin-top: 30px;
}

.attendancesub{
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 280px;
    margin-left: 30px;
}

.search {
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 30px;
    padding: 5px;
    font-size: 11px;
}

th{
    margin-left: 42px;
    text-align: center;
}

.list{
    margin-bottom: 230px;
    margin-left: 10px;
    background-color:white;
    box-shadow: 02px 2px 10px rgb(102, 102, 102);
    border-radius: 20px;
    padding-top: 40px;
    transform: scale(2);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    padding-top: 10px;
    margin-left: 19px;
    height: 60px;
}

.row h5{
    margin-left: 30px;
    padding-right: 17px;
    text-align: center;
}

.displayContainer{
    display: flex;
    flex-direction: row;
    background-color: gainsboro;
    padding-top: 10px;
}

.displayContainer button{
    margin-top: 1px;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: -20px;
}

button{
    background-color: #75c500;
    border: 3px solid #333333;
    padding-left:15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    cursor:pointer;
}

form{
    margin-bottom: 230px;
    margin-left: 10px;
    background-color:white;
    box-shadow: 02px 2px 10px rgb(102, 102, 102);
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 160px;
    transform: scale(2);
  }
  
  #eid{
    margin-top:10px;
    margin-bottom:25px;
    margin-left:44px;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left:10px;
    border: none;
    border-radius: 7px;
    box-shadow: 01px 0.5px 02px rgb(102, 102, 102);
  }

  #name{
    margin-top:10px;
    margin-bottom:25px;
    margin-left:20px;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left:10px;
    border: none;
    border-radius: 7px;
    box-shadow: 01px 0.5px 02px rgb(102, 102, 102);
  }

  ::placeholder {
    color: #75c500;
    padding-left: 10px;
    font-size: 11px;
  }
