
.exform{
    margin-top: 90px;
    margin-left: -50px;
    background-color:white;
    box-shadow: 02px 2px 10px rgb(255, 255, 255);
    border-radius: 25px;
    padding :20px;
    transform: scale(1);
}

.button{
    margin-left: 20px;
    margin-top: 10px;
    background-color: #75c500;
    border:none;
    border-color: #333333;
    border-style: solid;
    border-radius: 25px;
      padding-left:40px;
      padding-right: 40px;
      padding-top: 20px;
      padding-bottom: 20px;
      color: white;
}
.imag{
    padding-top:50px;
    padding-right: 70px;
    margin-left: 890px;
}
#date{
   margin-right: 500px;
   
}
.form-inner {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
	transition: 0.6s;
	border-radius: 8px;
    font-size: 30px;
    flex:1 1 100%;
    
    
}
.total-expense{
    /* margin-left: 500px; */
    font-size: 20px;
    margin-top: 50px;
    /* margin-right: 700px; */
}
.Ex-topic{
    margin-left: 850px;
}
.Eimag{
    margin-top: 10px;
    margin-right:200px;
    padding-top:50px;
    
}
.machineEx{
    margin-top: 70px;
    margin-right: 200px;
}

.Eprice{
    margin-right: 500px;
}
.Edate{
    margin-right: 150px;
}
.desc{
    margin-left: 300px;
    

}
.total-expense{
    margin-bottom:5px;
    border: none;
    border-radius: 10px;
    box-shadow: 01px 0.5px 02px rgb(114, 129, 102);
    background: #75c500;
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: #050702;
    
}
.Ebutton-area{
    margin-left: 700px;

}
.body { 
    font-family: Roboto, sans-serif;
 }
.MEretrieve{
    margin-bottom: 300px;
    margin-right: 200px;
}
.Msearch{
    margin-bottom: 2000px;
}
.Mrow h5{
    margin-left: 30px;
    padding-right: 17px;
    text-align: center;
    flex: 1 1 100%;
}
.Mrow{
    display: flex;
    padding-top: 10px;
    margin-left: 19px;
    height: 60px;

   
}
.EdisplayContainer{
    display: flex;
    flex-direction: row;
    margin-right: -50px;
    background-color: gainsboro;
}
.Mcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.BtnEx{
    margin-top: 5px;
    margin-left: 80px;
   background-color: #75c500;
   border:none;
   border-color: #333333;
   border-style: solid;
    border-radius: 25px;
    padding-left:10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 25px;
    color: white;
   

}
.EdisplayContainer button{
    margin-top: 1px;
    margin-bottom: 50px;
    margin-left: 10px;
}

.form-control{
    color: #75c500;
    padding-left: 10px;
    font-size: 10px;
}
.form-groupEX{
    font-size: 30px;
}
.form-controlEX{
    font-size: 30px;
}
::placeholder{
    font-size: 10px;
}
.Mrow th{
    margin-right: 180px;
    text-align: center;
    flex: 2 2 50%;
}
.ExData{

    overflow: auto;

    height:300px;



}



::-webkit-scrollbar {

  width: 10px;

}

::-webkit-scrollbar-track {

  background: #333333;

}



::-webkit-scrollbar-thumb {

  background: rgb(102, 102, 102);

}
