.salcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.salrow{
    display: flex;
    padding-top: 10px;
    margin-left: 1px;
    height: 60px;
    flex: 1 1 100%;

}

.salrow th{
    margin-left: 58px;
    text-align: center;
    
    /* flex: 2 2 50%; */
    /* background-color: hotpink; */
    
}
.Btn{
    margin-top: 10px;
    margin-left: 200px;
  background-color: #75c500;
  border:none;
  border-color: #333333;
  border-style: solid;
    border-radius: 25px;
    padding-left:15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;

}
.Btn2{
    margin-top: 10px;
    margin-left: 50px;
  background-color: #75c500;
  border:none;
  border-color: #333333;
  border-style: solid;
    border-radius: 25px;
    padding-left:50px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;

}
.salrow h5{
    margin-left: -10px;
    text-align: center;
    padding-left: 30%;
    flex: 1 1 100%;
    /* background-color: indigo; */
}

.saldisplayContainer{
    display: flex;
    flex-direction: row;
    margin-right: -50px;
    background-color: gainsboro;
    width: 100% ;
    margin-top: 10px;
    height:50px;
}
.saldisplayContainer button{
    margin-top: 1px;
    margin-bottom: 20px;
    margin-left: 5px;
    /* margin-right: -20%; */
}
.sal button{
    background-color: #75c500;
    border-color: #333333;
    border-style: solid;
    padding-left:15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    cursor:pointer;
}
.list{
    margin-bottom: 230px;
    margin-left: 10px;
    background-color:white;
    box-shadow: 02px 2px 10px rgb(102, 102, 102);
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    transform: scale(2);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
}
.salary{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.salretrieve{
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 250px;
    margin-left: 30px;
}
.imag{
    padding-top:50px;
    padding-right: 70px;  
  
  }

  .saldata{
      overflow: auto;
      height:300px;

  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #333333;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(102, 102, 102);
  }
    