.tracontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.Btn{
    margin-top: 10px;
    margin-left: 200px;
  background-color: #75c500;
  border:none;
  border-color: #333333;
  border-style: solid;
    border-radius: 25px;
    padding-left:15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;

}
.Btn2{
    margin-top: 10px;
    margin-left: 50px;
  background-color: #75c500;
  border:none;
  border-color: #333333;
  border-style: solid;
    border-radius: 25px;
    padding-left:10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;

}
.trarow h5{
    margin-left: 20px;
    text-align: center;
    padding-left: 2%;
    flex: 1 1 100%;
}

.tradisplayContainer{
    display: flex;
    flex-direction: row;
    margin-right: -50px;
    background-color: gainsboro;
    margin-top: 50px;
    width: 100%;
  
}
.tradisplayContainer button{
    margin-top: 1px;
    margin-bottom: 20px;
    margin-left: 30px;

}
.tralist{
    margin-bottom: 230px;
    margin-left: 10px;
    background-color:white;
    box-shadow: 02px 2px 10px rgb(102, 102, 102);
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50%;
    transform: scale(2);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
}
.transport{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.traretrieve{
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 350px;
    margin-left: 30px;
}
.imag{
    padding-top:50px;
    padding-right: 70px;  
  
  }

  .trarow th{

    margin-left:100px;
    text-align: center;
    column-span: 500px;
    padding-left: -30px;

}

.trabutton-area{
    margin-left: 1700px;
}

